---
import { ViewTransitions } from 'astro:transitions';
import Reproductor from '../components/Reproductor.astro';
import Header from '../components/HeaderIndex.astro';
import MainIndex from '../layouts/MainIndex.astro';
import Layout from '../layouts/Layout.astro';

import './../css/output.css'
import { db, Usuario } from 'astro:db';

const usuarios = await db.select().from(Usuario);
---

<!-- <h1>Main page</h1>
<p>Página principal donde aparecen las canciones</p>
<a href="./song.html">Song</a>
<br> -->

{
    usuarios.map(({ id, username, nombre, apellidos, email, contrasena }) => (
    <article>
        <p>{id}</p>
        <p>{username}</p>
        <p>{nombre}</p>
        <p>{apellidos}</p>
        <p>{email}</p>
        <p>{contrasena}</p>
    </article>
    ))
}



<!-- <Layout>
    <Header/>
    <MainIndex/>
    <ViewTransitions/>
    <Reproductor/>
</Layout> -->